<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>

<% @restaurant.reviews.each do |review| %>

<%= review.rating %> | <%= review.content %>
<hr>

<% end %>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
